@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

body {
  margin: 0;
  padding: 0;
}

.SnakeContainer {
  margin: 0;
  padding: 0;
  background: #5454d5;
  font-family: Montserrat;
}

.SnakeContainer .content {
  width: 85%;
  margin: auto;
  display: flex;
  background: url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==);
}

.SnakeContainer .grid {
  width: 600px;
  height: 600px;
  margin: 4.2% 10%;
  position: relative;
  border: 5px solid black;
  background: #f9ff48;
}

.SnakeContainer .clock {
  text-align: center;
  margin: auto;
  padding: 15px;
  background: #7e7e94;
  border: 2px solid black;
  color: white;
}

.SnakeContainer .grid .snakeblock {
  position: absolute;
  width: 2%;
  height: 2%;
  background: black;
  border: 1px solid #ffffff;
  z-index: 2;
}

.SnakeContainer .grid .food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border: 1px solid black;
  z-index: 1;
}

.SnakeContainer button {
  background: white;
  color: black;
  font-weight: bold;
}
